<mat-toolbar color="primary">
  <span class="l1" style="flex: 1">The Jobs Dashboard</span>
</mat-toolbar>

<!--  Dropdown -->
<div class="filter-container sticky-filter">
  <mat-form-field appearance="fill" class="custom-filter" @fadeIn>
    <mat-label>Select The Location</mat-label>
    <mat-select
      [(ngModel)]="selectedLocation"
      (selectionChange)="filterByLocation()"
    >
      <mat-option value="">All Locations</mat-option>
      <mat-option *ngFor="let loc of locations" [value]="loc">{{
        loc
      }}</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="table-container" *ngIf="filteredJobs.length > 0" @fadeIn>
  <table
    mat-table
    [dataSource]="filteredJobs"
    class="mat-elevation-z8 jobs-table"
  >
    <ng-container matColumnDef="name">
      <th
        mat-header-cell
        *matHeaderCellDef
        (click)="sortByJobName()"
        style="cursor: pointer; align-items: center; gap: 4px"
      >
        Jobs
        <mat-icon
          class="rotate-icon"
          [class.up]="sortDirection === 'desc'"
          style="vertical-align: middle"
          >arrow_downward</mat-icon
        >
      </th>
      <td mat-cell *matCellDef="let job">{{ job.name }}</td>
    </ng-container>

    <ng-container matColumnDef="company">
      <th mat-header-cell *matHeaderCellDef>Company Name</th>
      <td mat-cell *matCellDef="let job">
        {{ job.company?.name || "غير محدد" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="location">
      <th mat-header-cell *matHeaderCellDef>Location</th>
      <td mat-cell *matCellDef="let job">
        {{ job.locations[0]?.name || "غير محدد" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="level">
      <th mat-header-cell *matHeaderCellDef>Level</th>
      <td mat-cell *matCellDef="let job">
        {{ job.levels[0]?.name || "undifind" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>Job Type</th>
      <td mat-cell *matCellDef="let job">{{ job.type }}</td>
    </ng-container>

    <ng-container matColumnDef="link">
      <th mat-header-cell *matHeaderCellDef>Link</th>
      <td mat-cell *matCellDef="let job">
        <a [href]="job.refs?.landing_page" target="_blank">Details</a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
